-A1
--pad-oper
--unpad-paren
--break-closing-brackets
--align-pointer=name
--align-reference=name
--suffix=none
--lineend=linux
--indent-col1-comments
--indent-preproc-define
--indent-switches
--keep-one-line-statements
--keep-one-line-blocks
--pad-header
--convert-tabs
--min-conditional-indent=0
--indent=spaces=4
--indent-namespaces
