build/
doc
doxygen_warnings.txt
.astyle_results.txt
.clang_tidy_results.txt
.vscode/
.DS_Store
._.DS_Store

bfdriver/src/.common.o.cmd
bfdriver/src/arch/linux/.bareflank.ko.cmd
bfdriver/src/arch/linux/.bareflank.mod.o.cmd
bfdriver/src/arch/linux/.bareflank.o.cmd
bfdriver/src/arch/linux/.entry.o.cmd
bfdriver/src/arch/linux/.platform.o.cmd
bfdriver/src/arch/linux/.tmp_versions/
bfdriver/src/arch/linux/.vmcall.o.cmd
bfdriver/src/arch/linux/Module.symvers
bfdriver/src/arch/linux/bareflank.ko
bfdriver/src/arch/linux/bareflank.mod.c
bfdriver/src/arch/linux/bareflank.mod.o
bfdriver/src/arch/linux/bareflank.o
bfdriver/src/arch/linux/entry.o
bfdriver/src/arch/linux/modules.order
bfdriver/src/arch/linux/platform.o
bfdriver/src/arch/linux/vmcall.o
bfdriver/src/common.o

bfdriver/src/arch/windows/x64/
