bfvmm/bin/cross/libc++.so
.build/
*.a
bin/
*.o.*
*.o
.*
*.ko
*.mod.c
*.order
*.symvers
src_*
hypervisor_example_*
doc/html/*
tools/scripts/x86_64-bareflank-g++
tools/scripts/x86_64-bareflank-gcc
/Makefile
/build_*
/source_*
/configure_version
/env.sh
/git_working_tree.sh
/makefiles/
/sysroot/
/module_file
