language: cpp

compiler:
- gcc

env:
- GCC_BASE=520
- GCC_BASE=530

before_install:
- export SILENCE="defined"
- export BINUTILS_PATH="http://ftp.gnu.org/gnu/binutils/binutils-2.25.1.tar.bz2"
- if [ "$GCC_BASE" = "520" ]; then export GCC_PATH="https://ftp.gnu.org/gnu/gcc/gcc-5.2.0/gcc-5.2.0.tar.bz2";  fi
- if [ "$GCC_BASE" = "520" ]; then export GCC_PATCH="https://raw.githubusercontent.com/Bareflank/hypervisor/master/tools/patches/gcc-5.2.0_no-red-zone.patch";  fi
- if [ "$GCC_BASE" = "530" ]; then export GCC_PATH="https://ftp.gnu.org/gnu/gcc/gcc-5.3.0/gcc-5.3.0.tar.bz2";  fi
- if [ "$GCC_BASE" = "530" ]; then export GCC_PATCH="https://raw.githubusercontent.com/Bareflank/hypervisor/master/tools/patches/gcc-5.3.0_no-red-zone.patch";  fi

install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update
- sudo apt-get install g++-5 nasm --force-yes
- sudo rm /usr/bin/gcc
- sudo rm /usr/bin/g++
- sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
- sudo ln -s /usr/bin/g++-5 /usr/bin/g++
- gcc --version
- g++ --version
- travis_wait 40 ./tools/scripts/debian-cross-compiler.sh

script:
- make -j2
- make unittest
- if [[ -n $(./tools/astyle/linux/run.sh | grep Formatted) ]]; then echo "You must run astyle before submitting a pull request"; exit -1; fi
