language: cpp

compiler:
- gcc

env:
- GCC_BASE=520

before_install:
- export SILENCE="defined"
- if [ "$GCC_BASE" = "520" ]; then export BINUTILS_PATH="http://ftp.gnu.org/gnu/binutils/binutils-2.25.1.tar.bz2";  fi
- if [ "$GCC_BASE" = "520" ]; then export GCC_PATH="https://ftp.gnu.org/gnu/gcc/gcc-5.2.0/gcc-5.2.0.tar.bz2";  fi

install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update
- sudo apt-get install g++-5
- sudo rm /usr/bin/gcc
- sudo rm /usr/bin/g++
- sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
- sudo ln -s /usr/bin/g++-5 /usr/bin/g++
- gcc --version
- g++ --version
- travis_wait 40 ./tools/scripts/debian-cross-compiler.sh

script:
- make
- cd elf_loader/bin
- LD_LIBRARY_PATH=. ./test
- cd ../..
- cd bfm/bin
- LD_LIBRARY_PATH=. ./test
- cd ../..
